.profile__edit-button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin-left: 18px;
}

@media screen and (max-width: 630px) {
  .profile__edit-button {
    margin-left: 15px;
    position: absolute;
    bottom: 98px;
    right: 40px;
  }
}

@media screen and (max-width: 320px) {
  .profile__edit-button {
    margin-left: 15px;
    position: relative;
    bottom: 68px;
    left: 255px;
  }
}
