.profile__edit-button {
    border: none;
    background-color: inherit;
    padding: 0;
    margin-left: 18px;
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .profile__edit-button {
        margin-left: 15px;
        position: relative;
        bottom: 68px;
        left: 255px;
    }
}