.page {
  margin: auto;
  background-color: #000000;
  color: #ffffff;
  box-sizing: border-box;
  font-family: 'Inter', Arial, sans-serif;
  max-width: 1280px;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .page {
    max-width: 1024px;
  }
}

@media screen and (max-width: 950px) {
  .page {
    max-width: 950px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    max-width: 320px;
  }
}
