.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 17px;
}

@media screen and (max-width: 950px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 20px 0;
  }
}

@media screen and (max-width: 610px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 320px) {
  .gallery {
    grid-template-columns: 1fr;
    gap: 20px 17px;
  }
}
