.popup__input {
  margin: 0 36px 30px;
  width: 358px;
  padding: 0;
  padding-bottom: 13px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}

.popup__input:last-of-type {
  margin-bottom: 48px;
}

@media screen and (max-width: 525px) {
  .popup__input {
    margin-right: 22px;
    margin-left: 22px;
    width: calc(100% - 44px);
  }
}
