.profile__avatar {
  border-radius: 50%;
  height: 120px;
  margin-right: 22px;
}

@media screen and (max-width: 630px) {
  .profile__avatar {
    margin-left: 39%;
  }
}

@media screen and (max-width: 320px) {
  .profile__avatar {
    margin-left: 31.5%;
    margin-bottom: 26px;
  }
}
