@import url(../vendor/normalize.css);

@import url(../vendor/fonts.css);

@import url(../blocks/page/page.css);

@import url(../blocks/content/content.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__icon/profile__icon.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);

@import url(../blocks/gallery/gallery.css);

@import url(../blocks/card/card.css);
@import url(../blocks/card/__title/card__title.css);
@import url(../blocks/card/__like-button/card__like-button.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__container/card__container.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__content-copyright/footer__content__copyright.css);