.profile__icon {
  margin-bottom: 24px;
  cursor: pointer;
}

.profile__icon:hover {
  opacity: 0.6;
  transition: opacity 1s linear;
}

@media screen and (max-width: 630px) {
  .profile__icon {
    margin-bottom: 0;
  }
}
